body{
  background-color: rgba(211, 211, 211, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}
footer {
  background-color: rgba(211, 211, 211, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}
.container {
    max-width: 1000px;
  }
  
  /*
   * Custom translucent site header
   */
  
   .site-header {
    background-color: rgba(34, 147, 165, 0.85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a {
    color: rgb(255, 255, 255);
    transition: ease-in-out color .15s;
  }
  .site-header a:hover {
    color: rgb(2, 247, 255);
    text-decoration: none;
  }

  .d-md-flex {
    background-color: rgb(211, 211, 211, 0.85);
  }
  /*
   * Cores do Smartphones
   */
  
  .product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: rgb(70, 70, 70);
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  
  .product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(0, 0, 0, 0.658);
    border-radius: 5px;
  }
  
  .product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: rgb(70, 70, 70);
  }


  /* botao */
  .btn {
    background-color:rgb(34, 147, 165, 0.85);
    border-color: rgb(255, 255, 255);
    color: white;
  }
  .btn a:hover{
    color: rgb(2, 247, 255);
    text-decoration: none;
  }

  
  /*
   * Extra utilities
   */

  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(34, 147, 165, 0.85); }
  
  @media (min-width: 950px) {
    .flex-md-equal > * {
      -ms-flex: 1;
      -webkit-box-flex: 1;
      flex: 1;
    }
  }
  
  .overflow-hidden { overflow: hidden; }

  