.site-header {
  background-color: rgba(34, 147, 165, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: rgb(255, 255, 255);
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: rgb(2, 247, 255);
  text-decoration: none;
}
.btn {
  background-color:rgb(34, 147, 165, 0.85);
}
body{
  background-color: rgba(211, 211, 211, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}